h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0em;
  color: #02213d; }

h4, h5, h6 {
  padding: 8px 0 5px 0; }

html {
  height: 100%; }
  html body {
    height: 100%;
    background: transparent url("/media/img/pattern.png") 0 0 repeat;
    font-family: "openSans", sans-serif;
    font-weight: 300;
    font-size: 100%;
    letter-spacing: 0em;
    font-size: 1.3em; }
    html body .main {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -150px; }
      html body .main p {
        font-size: 1.1em; }
    html body footer {
      height: 150px; }

header {
  background-color: #1D4971;
  border-bottom: 4px solid #02213d; }
  header img.header_logo {
    float: left; }
  header nav.navbar {
    float: left;
    width: 80%;
    margin: 47px 0 0 0; }
    header nav.navbar .nav > li {
      display: inline-block; }
      header nav.navbar .nav > li a {
        font-size: 1.3em;
        font-weight: 600;
        padding: 10px 25px; }
      header nav.navbar .nav > li:hover a {
        background-color: transparent;
        color: #fff; }
      header nav.navbar .nav > li.active a {
        color: #fff;
        text-decoration: underline; }

section.content {
  padding: 20px 15px 40px 15px;
  background: transparent; }

footer {
  border-top: 4px solid #02213d;
  background-color: #1D4971;
  padding: 20px 0 50px 0;
  font-size: 1.3em;
  color: #fff; }
  footer p {
    text-align: center;
    margin-bottom: 25px; }
  footer .powered-by-continuum {
    color: transparent;
    font-size: 0;
    display: block;
    width: 105px;
    height: 50px;
    margin: 0 auto;
    background: transparent url("/media/img/continuum-logo.png") 0 0 repeat; }
