h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0em;
  color: #02213d; }

h1, h2, h3 {
  padding: 15px 0 10px 0; }

h4, h5, h6 {
  padding: 8px 0 5px 0; }

html {
  height: 100%; }
  html body {
    height: 100%;
    background: transparent url("/media/img/pattern.png") 0 0 repeat;
    font-family: "openSans", sans-serif;
    font-weight: 300;
    font-size: 100%;
    letter-spacing: 0em;
    font-size: 1.3em; }
    html body .main {
      min-height: 100%;
      margin: 0 auto -150px; }
      html body .main:after {
        content: "";
        display: block; }
      html body .main p {
        font-size: 1.1em;
        line-height: 1.5em; }
    html body footer, html body .main:after {
      height: 150px; }

header {
  background-color: #fff;
  border-bottom: 4px solid #02213d;
  padding: 30px 0 15px 0; }
  header img.header_logo {
    float: left; }
  header nav.navbar {
    float: left;
    width: 68%;
    margin: 10px 0 0 40px; }
    header nav.navbar .nav > li {
      display: inline-block; }
      header nav.navbar .nav > li a {
        font-size: 1.3em;
        font-weight: 600;
        padding: 10px 18px; }
      header nav.navbar .nav > li:hover a {
        color: #61809C;
        background-color: transparent; }
      header nav.navbar .nav > li.active a {
        color: #61809C;
        text-decoration: underline; }

section.content {
  padding: 20px 15px 40px 15px;
  background: transparent; }

footer {
  border-top: 4px solid #02213d;
  background-color: #1D4971;
  padding: 20px 0 50px 0;
  font-size: 1.3em;
  color: #fff; }
  footer p {
    text-align: center;
    text-indent: 25px;
    margin-bottom: 25px; }
  footer .powered-by-continuum {
    color: transparent;
    font-size: 0;
    display: block;
    width: 128px;
    height: 55px;
    margin: 0 auto;
    overflow: hidden;
    background: transparent url("/media/img/continuum-logo.png") 0 0 repeat; }
    footer .powered-by-continuum:hover {
      background-position: 0 -55px; }
