{# footer and javascript #}
{# best pacement is right before /body #}
<footer class="footer">
    <section class="container">
        <section class="row">
            <p class="copyright">2014 PyParallel&reg;</p>
            <a class="powered-by-continuum" href="http://continuum.io">Continuum Analytics</a>
        </section>   
    </section>
</footer>
