{# page header, carosel, navigation #}
{# best pacement is right after body tag #}

<header class="header">
    <section class="container">
        <img class="header_logo" src="{{ media_url('/media/img/logo.png') }}" alt="PyParallel"  border="0"  usemap="#spacerMap" id="spacer" />
        <nav class="navbar">
            <ul class="nav">
                <li class=""><a href="/" title="PyParallel">Home</a></li>
                <li class=""><a href="/what-is-pyparallel.html" title="What Is PyParallel">What Is PyParallel</a></li>
                <li class=""><a href="/get-involved.html" title="Get Involved">Get Involved</a></li>
                <li class=""><a href="/download.html" title="Download">Download</a></li>
                <li class=""><a href="/news.html" title="News">News</a></li>
                <li class=""><a href="/benchmark.html" title="Benchmark">Benchmark</a></li>
            </ul>
        </nav>
    </section>
</header>

